/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*{
  margin: 0;
  padding: 0;
}
.header{
  display: inline-block;
  display: flex;
  background-color: bisque;
  height: 40px;
  padding: 10px;
  
}
.navlist{
  display: flex;
  margin-left: 35rem;

  
}
.header> .navlist li{
   margin-left: 2rem;
}